body {
  margin: 0;
  padding: 0;
  background: url('assets/pagebackground_stars.jpeg');
  font-family: 'Righteous', cursive ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.right-line {
  float: right;
}
